body
{
    background-image: url("file:///C:/Users/kra5379/Documents/GitHub/Pokemon-Black-White-Analysis/docs/images/background.png");
    background-size: cover;
    font-family: serif;
}
div.legendaries
{
    display: flex;
    flex-direction: column;
}